hgg-djavan/audio/
hgg-djavan/build/still_*.png
hgg-djavan/build/c[0-9].png
hgg-djavan/build/b[0-9].png
hgg-djavan/build/cc[0-9].png
hgg-djavan/build/contact.png
hgg-djavan/build/grid_*.png
hgg-djavan/build/*_2x.png
hgg-djavan/build/final*_tiles.png
hgg-djavan/build/check_*.png
hgg-djavan/out/*_silent.mp4
hgg-djavan/fonts/g.css
hgg-djavan/build/audio_c.json
hgg-djavan/build/d[0-9].png
hgg-djavan/build/foto_*_2x.png
hgg-djavan/ugc/frames/
hgg-djavan/ugc/ana/
hgg-djavan/build/e[0-9].png
hgg-djavan/build/f[0-9].png
hgg-djavan/build/g[0-9].png
hgg-djavan/build/g_check.png
hgg-djavan/build/h[0-9].png
hgg-djavan/build/i[0-9].png
hgg-djavan/build/j[0-9].png
sandwalk/frames/
sandwalk/slow/
sandwalk/mask/
sandwalk/mask_slow/
sandwalk/build/*
!sandwalk/build/logo_white.svg
sandwalk/out/*_silent.mp4
sandwalk/src/site/
